.card {
  background-color: #383242;
  position: relative;
  width: 280px;
  margin: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.movie-info {
  position: relative;
  display: flex;
  background-color: #2c212b;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.info {
  margin-top: 6%;
}

.card-info {
  padding: 15px;
}

.card-info h5 {
  color: #fff;
}

.card .card-info p {
  margin-bottom: 5px;
}

.card img {
  width: 100%;
  cursor: pointer;
}

.favorite {
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  bottom: 15px;
  cursor: pointer;
}
